@import url("https://fonts.googleapis.com/css?family=Georgia:400,700,900|Caprasimo");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
}

:root {
  color-scheme: light dark;
  background-color: light-dark(#ffe, #011);
  color: light-dark(#011, white);
  font-family: Georgia, serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-auto-rows: 12.5rem;
  grid-auto-flow: dense;
  gap: 0.25rem;
}
.gallery figure {
  container: figure/inline-size;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}
.gallery figure a {
  grid-area: 1/1/-1/-1;
}
.gallery figure img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}
.gallery figcaption {
  pointer-events: none;
  grid-area: 1/1/-1/-1;
  align-self: end;
  z-index: 1;
  padding: 1em 15% 1em 1em;
  color: #111;
  font-size: 0.875rem;
  line-height: 1.3;
  background: rgba(200, 200, 200, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}
.gallery figcaption p {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.gallery figure:hover figcaption {
  visibility: visible;
  opacity: 1;
}

@media (width > 600px) {
  .gallery figure:nth-child(1) {
    grid-area: span 2/span 2;
  }
}
.post-title {
  border-bottom: 1px dashed;
  border-color: light-dark(#011, white);
  padding-bottom: 0.5ex;
  margin-bottom: 0.5ex;
  margin-top: 1.5ex;
}

nav {
  display: flex;
  place-content: space-between;
  border-bottom: 1px solid;
  border-color: light-dark(#011, white);
}
@media (width <= 35em) {
  nav {
    font-size: larger;
    flex-direction: column;
  }
}
nav #redding {
  font-weight: bold;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
@media (width <= 35em) {
  nav ul {
    flex-direction: column;
  }
}
nav a {
  display: block;
  padding: 6px 12px;
}
nav a.current {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: light-dark(oklch(35% 0.6 11deg), oklch(90% 0.16 111deg));
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 0;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

#content {
  margin-top: 0;
  margin-bottom: 2rem;
}

footer {
  margin-top: 0;
  height: 3rem;
  padding-top: 1rem;
  display: flex;
  place-content: space-between;
}
@media (width <= 26em) {
  footer #builtwith {
    display: none;
  }
}

body {
  max-width: 40rem;
  min-width: 12em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  min-height: 100vh;
}

p, h2 {
  margin-bottom: 0.5em;
}

#portrait {
  width: 33%;
  float: right;
  margin-left: 1em;
}

#artwork {
  display: block;
  max-height: 20lh;
  margin-left: auto;
  margin-right: auto;
}