---
title: Default title
current: home
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="/css/styles.css">
  <body>
    <div>
      <header>
        <nav>
          <a id="redding" href="/">redding sauter</a>
          <ul>
            <li><a{% if current == "about" %} class="current"{% endif %} href="/">about</a></li>
            <li><a href="/res/resume.pdf" target="blank">résumé</a></li>
            <!-- <li><a{% if current == "projects" %} class="current"{% endif %} href="/projects">projects</a></li> -->
            <li><a{% if current == "art" %} class="current"{% endif %} href="/art">art</a></li>
            <!-- <li><a{% if current == "blog" %} class="current"{% endif %} href="/blog/archive">blog</a></li> -->
          </ul>
        </nav>
      </header>

      <div id="content">

        {{ content }}
      </div>
    </div>

    <footer>
      <div>
        <span>
          <a href="/feed.xml">rss</a>
          |
          <a href="https://www.linkedin.com/in/redding-sauter-891363218/" target="blank">linkedin</a>
          |
          <a href="https://github.com/reddsaut" target="blank">github</a>
        </span>
      </div>

      <div>
        <span id="builtwith">
          <em>Built with {{ eleventy.generator }}</em>
        </span>
      </div>
    </footer>

  </body>
</html>