---
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "/blog/categories/{{ category | slugify }}/index.html"
layout: main
eleventyComputed:
  title: "{{ category }}"
current: blog
---

<h2>Posts on {{ category }}</h2>

{% assign posts = collections.post | filterByCategory: category %}
{% for post in posts reversed %}
  {% include "partials/postPreview.liquid" %}
{% endfor %}