$bg: light-dark(#ffe, #011);
$maintext: light-dark(#011, white);
$accent-text: light-dark(#077, #8aa);
$accent-color: light-dark(oklch(0.35 0.6 11), oklch(0.9 0.16 111));
$header-height: 2rem;
$footer-height: 3rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

:root {
    color-scheme: light dark;
    background-color: $bg;
    color: $maintext;
    font-family: Georgia, serif;
}