$bg: light-dark(#ffe, #011);
// $bg: light-dark(#ffe, black);
$maintext: light-dark(#011, white);
// $accent-color: light-dark(oklch(0.5333 0.1927 11.65), oklch(0.8798 0.1927 99.88));
$accent-color: light-dark(oklch(0.35 0.6 11), oklch(0.9 0.16 111));
// $accent-color: oklch(0.5333 0.1927 11.65);
$header-height: 2rem;
$footer-height: 3rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

:root {
    color-scheme: light dark;
    background-color: $bg;
    color: $maintext;
    font-family: Georgia, serif;
}