@use 'base';

.post-title {
    border-bottom: 1px dashed;
    border-color: base.$maintext;
    padding-bottom: 0.5ex;
    margin-bottom: 0.5ex;
    margin-top: 1.5ex;
}

#blog-text {
    p {
        text-indent: 2em;

        img {
            max-width: 70%;
            text-indent: 0;
            margin-right: auto;
            margin-left: auto;
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
            max-height:25lh;
        }
    }
    blockquote {
        p {
            text-indent: 0;
            color: base.$accent-text;
        }
        margin-inline-start: 1em;
    }
    #refs-mla {
        p {
            text-indent: 1em hanging;
        }
    }
}