@use "base";
@use "gallery";
@use "blog";

@import url("https://fonts.googleapis.com/css?family=Georgia:400,700,900|Caprasimo");

// h1 {
//     font-family: 'Caprasimo';
//     font-weight: normal;
// }

nav {
    display: flex;
    place-content: space-between;
    border-bottom: 1px solid;
    border-color: base.$maintext;


    @media (width <= 35em) {
        font-size: larger;
        flex-direction: column;
        // align-items: center;
    }

    #redding {
        font-weight: bold;
    }
    ul {
        display: flex;
        @media (width <= 35em) {
            flex-direction: column;
            // align-items: center;
        }
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    a {
        display: block;
        padding: 6px 12px;
    }
    a.current {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: base.$accent-color;
}
a:hover {
    text-decoration: underline;
}

header {
    margin: 0;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

#content {
    margin-top: 0;
    margin-bottom: 2rem;
}

footer {
    margin-top: 0;
    height: base.$footer-height;
    padding-top: 1rem;

    display: flex;
    place-content: space-between;
    
    #builtwith {
        @media(width <= 26em) {
            display:none;
        }
    }
}

body {
    max-width: 40rem;
    min-width: 12em;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    
    display:flex;
    flex-direction: column;
    place-content: space-between;
    min-height: 100vh;
}

p, h2 {
    margin-bottom: 0.5em;
}

#portrait {
    max-width: 33%;
    float: right; 
    margin-left: 1em;
}

#artwork {
    max-width: 20rem;
    max-height: 20lh;
    float: right;
    margin-left: 1em;
}